@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Harmattan:wght@400;700&family=Lateef:wght@400;700&family=Noto+Sans+Arabic:wght@100..900&family=Scheherazade+New:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Noto Sans Arabic", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Amiri", serif;
  --font-cursive: "Lateef", cursive;
  --font-traditional: "Scheherazade New", serif;
  --font-modern: "Harmattan", sans-serif;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
  --radius-3xl: 2rem;
}

@layer base {
  body {
    @apply antialiased transition-colors duration-500;
    direction: rtl;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
  }
}

@layer utilities {
  .pt-safe {
    padding-top: env(safe-area-inset-top);
  }
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

@layer utilities {
  .soft-shadow {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.05), -8px -8px 16px rgba(255, 255, 255, 0.8);
  }
  
  .soft-shadow-dark {
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.4), -4px -4px 12px rgba(255, 255, 255, 0.05);
  }

  .soft-inset {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.05), inset -4px -4px 8px rgba(255, 255, 255, 0.8);
  }

  .soft-inset-dark {
    box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.4), inset -2px -2px 6px rgba(255, 255, 255, 0.05);
  }
}
